<div class="jumbotron mt-4">
    <h1 class="display-4">Reclutamiento y capacitación</h1>
        <p class="lead">Reclutamiento y dministración de personal</p>
        <hr class="my-4">
        <p>Está aplicación, te va a ayudar a dar de alta al personal, así como su seguimiento y eliminación, una vez concluido su proceso.</p>
        <a href="https://github.com/Roger102090" class="btn btn-primary btn-lg">Proeycto en GitHub</a>
</div>