<div class="col-md-4 mx-auto t1">
    <div class="card">
    <div class="card-header">
        <h3>Nuevo candidato</h3>
    </div>
    <div class="card-body">
        <form action="/notes/new-notes" method="post">
        <div class="form-group">
            <input type="text" name="nombre" class="form-control" placeholder="Nombre" autofocus>
        </div>
        <div class="form-group">
            <input type="number" name="salario" class="form-control" placeholder="Salario" >
        </div>
        <div class="form-group">
            <input type="text" name="puesto" class="form-control" placeholder="Puesto" >
        </div>
        <div class="form-group">
            <input type="text" name="gafette" class="form-control" placeholder="Gafette" >
        </div>
        <div class="form-group">
            <textarea name="seguimiento" placeholder="Describe la situación de la persona" class="form-control"></textarea>
        </div>
        <div class="form-gruup">
            <button class="btn btn-primary btn-block" type="submit">
                Save
            </button>
        </div>
        </form>
    </div>
</div>
</div>